# Resources




### Python

[Python 3 Documentation](https://docs.python.org/3/library/)


### General

[Stackoverflow](https://stackoverflow.com/)

### YouTube vids

[Kalle Hallden](https://www.youtube.com/channel/UCWr0mx597DnSGLFk1WfvSkQ)

[PyCon 2019](https://www.youtube.com/channel/UCxs2IIVXaEHHA4BtTiWZ2mQ)

[Tech With Tim](https://www.youtube.com/channel/UC4JX40jDee_tINbkjycV4Sg)

[Python Programmer](https://www.youtube.com/user/consumerchampion)

[sentdex](https://www.youtube.com/user/sentdex)

### Markdown links
[Markdown Cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)

[Markdown Guide](https://www.markdownguide.org/)

[Markdown Table Generator](https://www.tablesgenerator.com/markdown_tables)


### Code


```df.reset_index(self, level=None, drop=False, inplace=False, col_level=0, col_fill='')```

```df = pd.DataFrame(np.random.randint(500,4000,size=(200, 1)), columns=list('A'))```

```df['randNumCol'] = np.random.randint(1, 6, df.shape[0])```

```
# Declare a list that is to be converted into a column 
tradcounthvac = xyzhvac.x.count()
tradehvac = tradcounthvac * ['hvac'] 

tradcountelec = xyzelec.x.count()
tradeelec = tradcountelec * ['elec'] 

# Using 'Trade' as the column name 
# and equating it to the list 
xyzhvac['Trade'] = tradehvac
xyzelec['Trade'] = tradeelec
```



### Packages


```! pip install pandas-profiling```

```! pip install plotly```

```! pip install cufflinks```

```! pip install plotly==4.2.1```

```!pip install dovpanda```

```import numpy as np```

```import pandas as pd```

```import pandas_profiling```

```import plotly.graph_objects as go```

```import dovpanda```

### pandas
[What can you do with the new ‘Pandas’?](https://towardsdatascience.com/what-can-you-do-with-the-new-pandas-2d24cf8d8b4b)

[Reordering Pandas DataFrame Columns: Thumbs Down On Standard Solutions](https://towardsdatascience.com/reordering-pandas-dataframe-columns-thumbs-down-on-standard-solutions-1ff0bc2941d5)

[pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/)

[7 practical pandas tips when you start working with the library](https://towardsdatascience.com/7-practical-pandas-tips-when-you-start-working-with-the-library-e4a9205eb443)

[dataframe transpose](https://www.geeksforgeeks.org/python-pandas-dataframe-transpose/)

[Combining DataFrames with Pandas](https://datacarpentry.org/python-ecology-lesson/05-merging-data/)

[dovpanda](https://github.com/dovpanda-dev/dovpanda)


[Selecting Subsets of Data in Pandas: Part 1](https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c)

[10 simple Python tips to speed up your data analysis](https://thenextweb.com/syndication/2020/10/12/10-simple-python-tips-to-speed-up-your-data-analysis/)

[15 Tips and Tricks to use in Jupyter Notebooks](https://towardsdatascience.com/15-tips-and-tricks-to-use-jupyter-notebook-more-efficiently-ef05ede4e4b9)

```result = df.transpose() ```

5 functions to examine your data: ```df.head()', df.describe(), df.info(), df.shape, df.sum(), df['Trade'].value_counts() ```

Reports: ```pandas_profiling.ProfileReport(df)```

Import: ```import pandas_profiling```

Save a dataframe to a csv```df.to_csv```

Create a Pandas Dataframe```df = pd.DataFrame(data) ```

Read a csv file```pd.read_csv('')```

Read a excel file```pd.read_excel('')```

All rows that have a sepal length greater than 6 are dangerous ```df['is_dangerous'] = np.where(df['sepal length (cm)']>6, 'yes', 'no')```

Max columns option ```pd.set_option('display.max_columns', 500)```

Max row option ```pd.set_option('display.max_rows', 500)```

to see columns ```df.columns```

replace strings ```df.columns = df.columns.str.replace(' \(cm\)', '').str.replace(' ', '_')```

### plotly

[plotly Graphing Libraries](https://plot.ly/python/)

[Different Colors for Bars in Barchart by their Value](https://community.plot.ly/t/different-colors-for-bars-in-barchart-by-their-value/6527)



### Scikit-Learn

[A beginner’s guide to Linear Regression in Python with Scikit-Learn](https://towardsdatascience.com/a-beginners-guide-to-linear-regression-in-python-with-scikit-learn-83a8f7ae2b4f)

### Notes

In [298]:
import pandas as pd

In [299]:
df= pd.read_excel('data2.xlsx')
df

,Name,CPA,Energy,Healthcare,Hospitality,Justice and Civic,K-12,Laboratory,Sports,Workplace
0,Andy Wallace,0,3,0,0,1,4,0,0,4
1,Ben Talpos,2,1,3,4,1,7,3,5,3
2,Christian Bowman,3,4,5,5,1,7,4,5,2
3,Christopher Staff,3,3,3,0,1,5,3,0,3
4,Dan Drecoll,0,4,0,5,0,7,0,2,5
5,Erick Toss,1,1,0,1,1,6,0,1,3
6,Heather Miller,1,0,0,2,1,2,3,0,2
7,Jeff Bayer,3,1,5,6,2,12,3,6,7
8,Jon Atkinson,2,0,2,3,1,4,0,0,5
9,Ju-Hui Chia,0,1,0,2,1,2,0,0,0
10,Kyle Nhan,0,0,0,0,0,2,0,0,0
11,Steve Thedens,0,0,1,0,0,5,0,2,1
12,Tammy Rico,0,0,0,2,0,3,0,2,3

In [300]:
df1 = df.T #or df.transpose()
df1

,0,1,2,3,4,5,6,7,8,9,10,11,12
Name,Andy Wallace,Ben Talpos,Christian Bowman,Christopher Staff,Dan Drecoll,Erick Toss,Heather Miller,Jeff Bayer,Jon Atkinson,Ju-Hui Chia,Kyle Nhan,Steve Thedens,Tammy Rico
CPA,0,2,3,3,0,1,1,3,2,0,0,0,0
Energy,3,1,4,3,4,1,0,1,0,1,0,0,0
Healthcare,0,3,5,3,0,0,0,5,2,0,0,1,0
Hospitality,0,4,5,0,5,1,2,6,3,2,0,0,2
Justice and Civic,1,1,1,1,0,1,1,2,1,1,0,0,0
K-12,4,7,7,5,7,6,2,12,4,2,2,5,3
Laboratory,0,3,4,3,0,0,3,3,0,0,0,0,0
Sports,0,5,5,0,2,1,0,6,0,0,0,2,2
Workplace,4,3,2,3,5,3,2,7,5,0,0,1,3

# Split into best groups by chosen sectors

In [65]:
Andy = {"Name": "Andy", "CPA": 0, "Energy": 3, "Healthcare": 0, "Hospitality": 0, "k-12": 4, "Laboratory": 0}
Ben = {"Name": "Ben", "CPA": 2, "Energy": 1, "Healthcare": 3, "Hospitality": 4, "k-12": 7, "Laboratory": 3}
Christian = {"Name": "Christian", "CPA": 3, "Energy": 4, "Healthcare": 5, "Hospitality": 5, "k-12": 7, "Laboratory": 4}
Chris = {"Name": "Chris", "CPA": 3, "Energy": 3, "Healthcare": 3, "Hospitality": 0, "k-12": 5, "Laboratory": 3}
Dan = {"Name": "Dan", "CPA": 0, "Energy": 4, "Healthcare": 0, "Hospitality": 5, "k-12": 7, "Laboratory": 0}
Erick = {"Name": "Erick", "Hospitality": 1, "k-12": 6, "Laboratory": 0}
Heather = {"Name": "Heather", "Hospitality": 2, "k-12": 2, "Laboratory": 3}
Jeff = {"Name": "Jeff", "Hospitality": 6, "k-12": 12, "Laboratory": 3}
Jon = {"Name": "Jon", "Hospitality": 3, "k-12": 4, "Laboratory": 0}
JuHui = {"Name": "JuHui", "Hospitality": 2, "k-12": 2, "Laboratory": 0}
Kyle = {"Name": "Kyle", "Hospitality": 0, "k-12": 2, "Laboratory": 0}
Steve = {"Name": "Steve", "Hospitality": 0, "k-12": 5, "Laboratory": 0}
Tammy = {"Name": "Tammy", "Hospitality": 2, "k-12": 3, "Laboratory": 0}

In [66]:
dic = [Andy, Ben, Christian, Chris, Dan, Erick, Heather, Jeff, Jon, JuHui, Kyle, Steve, Tammy]

In [67]:
project_type_1 = "Hospitality"
project_type_2 = "k-12"
project_type_3 = "Laboratory"

In [68]:

project_type_1_value_list = []
project_type_2_value_list = []
project_type_3_value_list = []

for team_member in dic:

    
    team_member_project_type_1_value = team_member.get(project_type_1)
    team_member_project_type_2_value = team_member.get(project_type_2)
    team_member_project_type_3_value = team_member.get(project_type_3)
    
    
    
    project_type_1_value_list.append(team_member_project_type_1_value)
    project_type_2_value_list.append(team_member_project_type_2_value)
    project_type_3_value_list.append(team_member_project_type_3_value)
    
    
project_type_values_team = [project_type_1_value_list, project_type_2_value_list, project_type_3_value_list]

In [69]:
project_type_values_team

[[0, 4, 5, 0, 5, 1, 2, 6, 3, 2, 0, 0, 2],
 [4, 7, 7, 5, 7, 6, 2, 12, 4, 2, 2, 5, 3],
 [0, 3, 4, 3, 0, 0, 3, 3, 0, 0, 0, 0, 0]]

In [30]:
team_breakup = [[], [1,2,3], []]

In [55]:
len(team_breakup[1])

11

In [70]:
max_index_list = []
max_value_list = []
team_breakup = [[], [], []]

while len(dic) > 0:
    for i, j, k in list(zip([project_type_1_value_list], [project_type_2_value_list], [project_type_3_value_list])):

        project_type_1_values_max = max(i)
        project_type_1_values_max_index = i.index(max(i))

        project_type_2_values_max = max(j)
        project_type_2_values_max_index = j.index(max(j))

        project_type_3_values_max = max(k)
        project_type_3_values_max_index = k.index(max(k))


    
        #gets the max value from each project type from each team mem
        project_types_max = [project_type_1_values_max, project_type_2_values_max, project_type_3_values_max]
        
        #index of the maxes
        project_types_values_max_index_list = [project_type_1_values_max_index, project_type_2_values_max_index, project_type_3_values_max_index]

        #gets the max of all the maxes to be used as the item to be droped
        project_types_max_index = project_types_max.index(max(project_types_max))
        
        
        #drops the index based on above 
        drop_this_index_from_all_project_types = project_types_values_max_index_list[project_types_max_index]
        team_mem = dic.pop(drop_this_index_from_all_project_types)
        
        if len(team_breakup[project_types_max_index]) != 4:
            team_breakup[project_types_max_index].append(team_mem)
        
        elif len(team_breakup[0]) != 4:
            team_breakup[0].append(team_mem)
        
        elif len(team_breakup[1]) != 4:
            team_breakup[1].append(team_mem)
        
        elif len(team_breakup[2]) != 4:
            team_breakup[2].append(team_mem)
        
        elif len(team_breakup[0]) == 4 and len(team_breakup[1]) == 4 and len(team_breakup[2]) == 4:
            team_breakup[project_types_max_index].append(team_mem)
        

        project_type_values_lists = [project_type_1_value_list, project_type_2_value_list, project_type_3_value_list]
        for i_ in project_type_values_lists:
            i_.pop(drop_this_index_from_all_project_types)

In [71]:
team_breakup

[[{'Name': 'Erick', 'Hospitality': 1, 'k-12': 6, 'Laboratory': 0},
  {'Name': 'Chris',
   'CPA': 3,
   'Energy': 3,
   'Healthcare': 3,
   'Hospitality': 0,
   'k-12': 5,
   'Laboratory': 3},
  {'Name': 'Steve', 'Hospitality': 0, 'k-12': 5, 'Laboratory': 0},
  {'Name': 'Andy',
   'CPA': 0,
   'Energy': 3,
   'Healthcare': 0,
   'Hospitality': 0,
   'k-12': 4,
   'Laboratory': 0}],
 [{'Name': 'Jeff', 'Hospitality': 6, 'k-12': 12, 'Laboratory': 3},
  {'Name': 'Ben',
   'CPA': 2,
   'Energy': 1,
   'Healthcare': 3,
   'Hospitality': 4,
   'k-12': 7,
   'Laboratory': 3},
  {'Name': 'Christian',
   'CPA': 3,
   'Energy': 4,
   'Healthcare': 5,
   'Hospitality': 5,
   'k-12': 7,
   'Laboratory': 4},
  {'Name': 'Dan',
   'CPA': 0,
   'Energy': 4,
   'Healthcare': 0,
   'Hospitality': 5,
   'k-12': 7,
   'Laboratory': 0},
  {'Name': 'Kyle', 'Hospitality': 0, 'k-12': 2, 'Laboratory': 0}],
 [{'Name': 'Jon', 'Hospitality': 3, 'k-12': 4, 'Laboratory': 0},
  {'Name': 'Tammy', 'Hospitality': 2, 'k-12': 3, 'Laboratory': 0},
  {'Name': 'Heather', 'Hospitality': 2, 'k-12': 2, 'Laboratory': 3},
  {'Name': 'JuHui', 'Hospitality': 2, 'k-12': 2, 'Laboratory': 0}]]

In [72]:
team_mems_names_breakup = []

In [73]:
for team in team_breakup:
    team_by_project_type = []
    for mem in team:
        team_by_project_type.append(mem.get("Name"))
    team_mems_names_breakup.append(team_by_project_type)

In [74]:
team_mems_names_breakup

[['Erick', 'Chris', 'Steve', 'Andy'],
 ['Jeff', 'Ben', 'Christian', 'Dan', 'Kyle'],
 ['Jon', 'Tammy', 'Heather', 'JuHui']]

In [76]:
[['Erick', 'Andy', 'JuHui', 'Tammy'],
 ['Steve', 'Jeff', "Jon", 'Dan', 'Kyle'],
 ['Ben', 'Heather', 'Christian',"Chris"]]

[['Erick', 'Andy', 'JuHui', 'Tammy'],
 ['Steve', 'Jeff', 'Jon', 'Dan', 'Kyle'],
 ['Ben', 'Heather', 'Christian', 'Chris']]

In [301]:
Numbers="0123456"

In [303]:
Numbers[::2]

'0246'

In [305]:
type("01234".find('1'))

int

In [304]:
printproject_type_1 = "CPA"
project_type_2 = "Energy"
project_type_3 = "Healthcare"

1

In [71]:
data_append

[[{'CPA': 3, 'Energy': 4}, {'CPA': 3, 'Energy': 3}],
 [{'CPA': 0, 'Energy': 3}, {'CPA': 2, 'Energy': 1}]]

[2, 3, 3]

[{'CPA': 2, 'Energy': 1}, {'CPA': 3, 'Energy': 4}, {'CPA': 3, 'Energy': 3}]

In [306]:
Tuple = ((1,2,3), (1,"data",3))
Tuple[1][1]

'data'

In [308]:
list_a = ["Hard Rock", "Country"]
list_a[0] = "Banana"

In [309]:
list_a

['Banana', 'Country']

In [310]:
list_b = list_a

In [326]:
list_b

['Hard Rock', 'Country']

In [330]:
list_a

['Hard Rock', 'Country']

In [328]:
list_b[0] = "Hard Rock"
list_a

['Hard Rock', 'Country']

In [316]:
list_a[0] = "Banana"
list_b

['Banana', 'Country']

In [323]:
#cloning list
list_c = list_a[:]
list_c

['Hard Rock', 'Country']

In [325]:
list_c[0] = "Banana"

['Banana', 'Country']

In [329]:
list_c

['Banana', 'Country']

In [331]:
a=(0,1,2,3)

In [335]:
a[01]

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-335-8b14f9a30b45>, line 1)

In [339]:
B=["a","b","c","d"]

In [340]:
B[1:]

['b', 'c', 'd']

In [344]:
sets = {1,2,3,1,"Hello","hello","h3llo","hello"}
lists = [1,2,3,3]
tuples = (1,2,3)
dicts = {"key": "Value"}

In [345]:
sets

{1, 2, 3, 'Hello', 'h3llo', 'hello'}

In [346]:
list_to_set = set(lists)
list_to_set

{1, 2, 3}

In [347]:
set_a = {1,2,3,4}
set_b = {3,4,5,6}

set_x = set_a & set_b
set_x

{3, 4}

In [348]:
set_c = set_a.union(set_b)
set_c

{1, 2, 3, 4, 5, 6}

In [352]:
set_x.issubset(set_b and set_c and set_a)

True

In [88]:
num = 630

In [86]:
4 % 4

0

In [90]:
# Python Program to find the factors of a number

# This function computes the factor of the argument passed
def print_factors(x):
   print("The factors of",x,"are:")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i)

num = 630 #[2, 3, 3, 5, 7]

print_factors(num)

The factors of 630 are:
1
2
3
5
6
7
9
10
14
15
18
21
30
35
42
45
63
70
90
105
126
210
315
630

In [114]:
num = 630

def prime_factors(num):
    prime_factors_l = []
    num_factor = num
    divider = 2
    while num_factor != 1.0:
        if int(num_factor) > num_factor
        num_factor = num_factor/2
        if num_factor > int(num_factor)
            num_factor = num_factor/3
                prime_factors_l.append(num_factor)
            if num_factor > int(num_fact)
            
        prime_factors_l.append(num_factor)
    return prime_factors_l

In [115]:
prime_factors_l

[]

In [116]:
prime_factors(630)

[315.0]

In [109]:
2/2

1.0

In [121]:
int(3.9) > 3.5

False

In [122]:
array_diff([1,2,2,2], [2])

NameError: name 'array_diff' is not defined

In [123]:
l = [1,2,2,2]

In [124]:
l.remove(2)

In [125]:
l

[1, 2, 2]

TypeError: 'type' object is not iterable

In [130]:
set1 = {1,2,3,3}
set2 = {1}

In [132]:
print(set1.difference(set2))

{2, 3}

In [ ]:
30